# [예산 2512](https://www.acmicpc.net/problem/2512)

- 이분 탐색
- 매개 변수 탐색

> 정해진 총액 이하에서 가능한 한 최대의 총 예산을 다음과 같은 방법으로 배정

> 모든 요청이 배정될 수 없는 경우에는 특정한 정수 상한액을 계산하여 그 이상인 예산요청에는 모두 상한액을 배정한다.  
상한액 이하의 예산요청에 대해서는 요청한 금액을 그대로 배정한다

In [22]:
import sys

with open('./bj.txt', 'w') as f:
#     f.write('''5
# 70 80 30 40 100
# 450''')
    f.write('''4
120 110 140 150
485''')
# 100
sys.stdin = open('./bj.txt', 'r')
input = sys.stdin.readline

In [ ]:
# 지방의 수를 의미하는 정수 N
# N은 3 이상 10,000 이하
# 각 지방의 예산요청을 표현하는 N개의 정수가 빈칸을 사이에 두고 주어진다
# 모두 1 이상 100,000 이하
# 총 예산을 나타내는 정수 M
# M은 N 이상 1,000,000,000 이하
# return 배정된 예산들 중 최댓값인 정수를 출력

In [23]:
N = int(input())
ns = sorted(list(map(int, input().split())))
money = int(input())

In [24]:
ns

[110, 120, 140, 150]

In [ ]:
if money > sum(ns):
    print(max(ns))

In [30]:
import numpy as np

In [38]:
money

485

In [35]:
ns

[110, 120, 140, 150]

In [36]:
110 * 4

440

In [47]:
money / N

121.25

In [50]:
start, end = 0, N-1

temp = []
while start <= end:
    middle = (start-end) // 2
    if ns[middle] *N > money:
        end = middle -1
    elif ns[middle] *N < money:
        start = middle +1
        temp.append(ns[middle])

In [57]:
start, end = 1, max(ns) #150

ans=0
while start <= end: # 76 <= 150 # 113 <= 150
    mid=(start + end) //2 # 151 // 2 # 113 # 131

    total = 0
    for i in ns: # 110, 120, 140, 150
        if i>=mid: # 110 >= 75
            total+=mid # 75, 75, 75, 75
        else:
            total+=i #

    if total > money: # 492 > 450
        end= mid-1 # 130 # 121
        ans= min(ans,end) # 113, 130 -> 113, 120
    else: # 300 < 450 # 449 < 450
        start= mid+1 # 75 +1 # 113 + 1
        ans= max(ans,start) # max(0, 76) # max(76, 113)

In [58]:
ans

127

In [60]:
75 * 4

300

In [61]:
(76 + 150) / 2

113.0

In [62]:
110 + 113 + 113 + 113

449

In [63]:
(113 + 150) / 2

131.5

In [64]:
131 + 131 + 110 + 120

492

In [65]:
(130 + 113) / 2

121.5

In [66]:
121 + 121 + 110 + 120

472

In [67]:
(120 + 113) / 2

116.5

In [68]:
116 + 120 + 140 + 150

526

In [ ]:
113

In [ ]:
#########
# 시간 초과
#########

import sys

input = sys.stdin.readline

N = int(input())
ns = sorted(list(map(int, input().split())))
money = int(input())

if money > sum(ns):
    print(max(ns))
else:
    start, end = 1, max(ns)
    answer = 0

    while start <= end:
        middle = (start+end)//2
        total = 0
        for num in ns:
            if num >= middle:
                total += middle
            else:
                total += num
    if total > money:
        end = middle -1
        answer = min(answer, end)
    else:
        start = middle +1
        answer = max(answer, start)
    print(answer)

In [ ]:
# Pass

import sys

input = sys.stdin.readline

N = int(input())
ns = sorted(list(map(int, input().split())))
money = int(input())

start, end = 1, ns[-1]
while start <= end:
    middle = (start+end)//2
    cost = 0  # 비용
    for num in ns:
        if num > middle:
            cost += middle
        else:
            cost += num

    if cost > money:
        end = middle - 1

    else:
        start = middle + 1
print(end)