# [국영수 10825](https://www.acmicpc.net/problem/10825)

In [ ]:
국어 점수가 감소하는 순서로
국어 점수가 같으면 영어 점수가 증가하는 순서로
국어 점수와 영어 점수가 같으면 수학 점수가 감소하는 순서로
모든 점수가 같으면 이름이 사전 순으로 증가하는 순서로
(단, 아스키 코드에서 대문자는 소문자보다 작으므로 사전순으로 앞에 온다.)

In [ ]:
# N (1 ≤ N ≤ 100,000)
#  학생 이름, 국어, 영어, 수학 점수
# 1 <= score <= 100
# 알파벳 대소문자로 이루어진 문자열이고
# 길이는 10자리를 넘지 않는다

# return
정렬 기준으로 정렬한 후
N개의 줄에 걸쳐 각 학생의 이름을 출력

In [9]:
import sys
with open('./bj.txt', 'w') as f:
    f.write('''12
Junkyu 50 60 100
Sangkeun 80 60 50
Sunyoung 80 70 100
Soong 50 60 90
Haebin 50 60 100
Kangsoo 60 80 100
Donghyuk 80 60 100
Sei 70 70 70
Wonseob 70 70 90
Sanghyun 70 70 80
nsj 80 80 80
Taewhan 50 60 90''')

sys.stdin = open('./bj.txt', 'r')

input = sys.stdin.readline
N = int(input())

In [10]:
arr = [input().split() for _ in range(N)]
arr

[['Junkyu', '50', '60', '100'],
 ['Sangkeun', '80', '60', '50'],
 ['Sunyoung', '80', '70', '100'],
 ['Soong', '50', '60', '90'],
 ['Haebin', '50', '60', '100'],
 ['Kangsoo', '60', '80', '100'],
 ['Donghyuk', '80', '60', '100'],
 ['Sei', '70', '70', '70'],
 ['Wonseob', '70', '70', '90'],
 ['Sanghyun', '70', '70', '80'],
 ['nsj', '80', '80', '80'],
 ['Taewhan', '50', '60', '90']]

In [14]:
sorted(arr, key=lambda x: (-int(x[1]), x[2], -int(x[3]), x[0]))

[['Donghyuk', '80', '60', '100'],
 ['Sangkeun', '80', '60', '50'],
 ['Sunyoung', '80', '70', '100'],
 ['nsj', '80', '80', '80'],
 ['Wonseob', '70', '70', '90'],
 ['Sanghyun', '70', '70', '80'],
 ['Sei', '70', '70', '70'],
 ['Kangsoo', '60', '80', '100'],
 ['Haebin', '50', '60', '100'],
 ['Junkyu', '50', '60', '100'],
 ['Soong', '50', '60', '90'],
 ['Taewhan', '50', '60', '90']]

In [15]:
answer = []
for d in sorted(arr, key=lambda x: (-int(x[1]), x[2], -int(x[3]), x[0])):
    answer.append(d[0])
print(*answer, sep='\n')

Donghyuk
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Haebin
Junkyu
Soong
Taewhan

In [17]:
import sys

input = sys.stdin.readline
N = int(input())

arr = [input().split() for _ in range(N)]
answer = []
for d in sorted(arr, key=lambda x: (-int(x[1]), int(x[2]), -int(x[3]), x[0])):
    answer.append(d[0])
print(*answer, sep='\n')

Donghyuk
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Haebin
Junkyu
Soong
Taewhan

# [베스트셀러 1302](https://www.acmicpc.net/problem/1302)

In [ ]:
# return
가장 많이 팔린 책의 제목을 출력
만약 가장 많이 팔린 책이 여러 개일 경우에는
사전 순으로 가장 앞서는 제목

In [43]:
import sys
with open('./bj.txt', 'w') as f:
    f.write('''7
chair
table
lamp
door
lamp
table
chair''')

sys.stdin = open('./bj.txt', 'r')

input = sys.stdin.readline

N = int(input())

In [44]:
book = {}

for _ in range(N):
    name = input().strip()
    if name not in book:
        book[name] = 1
    else:
        book[name] += 1

In [30]:
book

{'chair': 2, 'table': 2, 'lamp': 2, 'door': 1}

In [39]:
max(book.values())

2

In [41]:
answer = []
max_num = max(book.values())

for k, v in book.items():
    if v == max_num:
        answer.append(k)
print(sorted(answer)[0])

chair

In [ ]:
import sys
input = sys.stdin.readline

N = int(input())

book = {}

for _ in range(N):
    name = input().strip()
    if name not in book:
        book[name] = 1
    else:
        book[name] += 1

answer = []
max_num = max(book.values())

for k, v in book.items():
    if v == max_num:
        answer.append(k)
print(sorted(answer)[0])

In [ ]:
import sys
input = sys.stdin.readline

N = int(input())

book = {}

for _ in range(N):
    name = input().strip()
    if name not in book:
        book[name] = 1
    else:
        book[name] += 1

print(sorted(book, key=lambda x:( -book[x], x))[0])
# ['chair', 'lamp', 'table', 'door']