# [부녀회장이 될테야 2775](https://www.acmicpc.net/problem/2775)

In [30]:
# 아이디어
##
# Dynamic Programing
# for loop로 각 층의 호실의 인원 넣기
# 저장된 dp에서 불러오기.

# 시간 복잡도
##
# O(K층 * N호)
14 * 14 # < 5천 만 -> 0.5초 실행 가능

# 변수
##
# 최대값 x층, y층 int

196

In [ ]:
# 성공

import sys
input = sys.stdin.readline

case_num = int(input())
data = []
for _ in (range(case_num *2)):
    data.append(int(input()))

max_x = max(data[::2]) # 1, 2
max_y =max(data[1::2]) # 3, 3

dp = [[0] * (max_y+1) for _ in range(max_x+1)]

# 0층 입주민 셋팅
for i in range(1, max_y+1):
    dp[0][i] = i
# x층 y호 입주민 셋팅
for x in range(1, max_x+1): # 층
    for y in range(1, max_y+1): # 호
        dp[x][y] = sum(dp[x-1][:y+1])
# 출력
for i in range(2, (case_num *2)+1, 2): # 2 -> 4
    k, n = data[i-2:i] # 1, 3 -> 2, 3
    print(dp[k][n])

In [4]:
import sys

with open('./bj.txt', 'w') as f:
    f.write('''2
1
3
2
3''')

sys.stdin = open('./bj.txt', 'r')

input = sys.stdin.readline

In [5]:
case_num = int(input())
data = []
for _ in (range(case_num *2)):
    data.append(int(input()))
data

[1, 3, 2, 3]

In [20]:
max_x = max(data[::2]) # 1, 2
max_y =max(data[1::2]) # 3, 3

dp = [[0] * (max_y+1) for _ in range(max_x+1)]
dp

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [22]:
# 0층 입주민 셋팅
for i in range(1, max_y+1):
    dp[0][i] = i

In [23]:
dp

[[0, 1, 2, 3], [0, 0, 0, 0], [0, 0, 0, 0]]

In [27]:
for x in range(1, max_x+1): # 층
    for y in range(1, max_y+1): # 호
        dp[x][y] = sum(dp[x-1][:y+1])

In [28]:
dp

[[0, 1, 2, 3], [0, 1, 3, 6], [0, 1, 4, 10]]

In [29]:
for i in range(2, (case_num *2)+1, 2): # 2 -> 4
    k, n = data[i-2:i] # 1, 3 -> 2, 3
    print(dp[k][n])

6
10

In [ ]:
첫째 줄 case 수.
k n * 2

1 <= k,
n <= 14

k층의 n호에 살려면
자신의 아래 k-1 층 1호부터 b호까지 사람 수 합

k층 n호 몇명 살까?

0층 1호 부터

0층 i호는 i

In [ ]:
1층 3호 살려면 -> 6명

0층 1호 ~ 0층 3호까지 사람 수 합 = 6
1 + 2 + 3


----
2층 3호를 살려면
1층 1호 ~ 1층 3호까지 사람 수 합 = 10
1 + 2 +



0 1 2 3
0 1 3 6
0 1 4 10
0 1 5 15

---
---
---

In [ ]:
from sys import stdin
t = int(stdin.readline())
cnt = 0

while cnt < t: # t만큼 반복
    k = int(stdin.readline())
    n = int(stdin.readline())
    array = [t for t in range(1, n+1)]

    for i in range(k):
        for j in range(1, n):
            array[j] += array[j-1]
    print(array[-1])
    cnt += 1

In [ ]:
import sys
input = sys.stdin.readline

array = [[0 for _ in range(15)] for _ in range(15)]

for i in range(1, 15):
    array[0][i] = i
    array[i][1] = 1

for i in range(1, 15):
    for j in range(1, 15):
        array[i][j] = array[i - 1][j] + array[i][j - 1]

t = int(input())

for i in range(t):
    k = int(input())
    n = int(input())
    print(array[k][n])