# [주사위 1233](https://www.acmicpc.net/problem/1233)

- 구현
- 브루트포스 알고리즘

In [ ]:
# S1(2 ≤ S1 ≤ 20), S2(2 ≤ S2 ≤ 20), S3(2 ≤ S3 ≤ 40)
# return
# 가장 높은 빈도로 나오는 세 주사위 합
# 단 답이 여러개라면 가장 합이 작은 것

In [3]:
s1, s2 ,s3 = map(int, input().split())

3 2 3

In [12]:
from itertools import combinations, permutations, product

In [23]:
a1 = list(range(1, s1+1))
a2 = list(range(1, s2+1))
a3 = list(range(1, s3+1))

In [24]:
for i in combinations((a1, a2, a3), 3):
    print(i)

([1, 2, 3], [1, 2], [1, 2, 3])

In [40]:
list(product(a1, a2, a3))

[(1, 1, 1),
 (1, 1, 2),
 (1, 1, 3),
 (1, 2, 1),
 (1, 2, 2),
 (1, 2, 3),
 (2, 1, 1),
 (2, 1, 2),
 (2, 1, 3),
 (2, 2, 1),
 (2, 2, 2),
 (2, 2, 3),
 (3, 1, 1),
 (3, 1, 2),
 (3, 1, 3),
 (3, 2, 1),
 (3, 2, 2),
 (3, 2, 3)]

In [41]:
p_dict = {}
for p in list(product(a1,a2,a3)):
    p_sum = sum(p)
    if p_sum not in p_dict:
        p_dict[p_sum] = 1
    else:
        p_dict[p_sum] += 1

In [42]:
p_dict

{3: 1, 4: 3, 5: 5, 6: 5, 7: 3, 8: 1}

In [43]:
p_dict.values()

dict_values([1, 3, 5, 5, 3, 1])

In [47]:

max_value = max(p_dict.values())

for k, v in p_dict.items():
    if v == max_value:
        print(k)
        break

5

In [48]:
from itertools import combinations, permutations, product

s1, s2 ,s3 = map(int, input().split())

s1 = list(range(1, s1+1))
s2 = list(range(1, s2+1))
s3 = list(range(1, s3+1))

p_dict = {}
for p in list(product(s1, s2, s3)): # 모든 경우 출력
    p_sum = sum(p)
    if p_sum not in p_dict:
        p_dict[p_sum] = 1
    else:
        p_dict[p_sum] += 1

max_value = max(p_dict.values())

for k, v in p_dict.items(): # 순서대로 값을 확인하면 저절로 최솟값이 구해진다.
    if v == max_value:
        print(k)
        break

3 2 3
5

---
---

In [ ]:
import sys

input = sys.stdin.readline

s1, s2, s3 = map(int, input().split())
counter = dict()

for i in range(1, s1 +1):
    for j in range(1, s2 +1):
        for k in range(1, s3 +1):
            summary = i + j + k
            if summary not in counter:
                counter[summary] = 1
            else:
                counter[summary] += 1
max_count = -1
answer = int(1e9)

for (key, value) in counter.items():
    if max_count < value:
        max_count = value
    elif max_count == value:
        answer = min(answer, key) # 빈도수가 동일한 것 여러 개라면, 작은 수.
print(answer)

In [ ]:
import sys
input = sys.stdin.readline

s1, s2, s3 = map(int, input().split())
cnt = [0] * 81

for i in range(1, s1 + 1):
    for j in range(1, s2 + 1):
        for k in range(1, s3 + 1):
            cnt[i + j + k] += 1

print(cnt.index(max(cnt)))