# [일곱 난쟁이 2309]()

In [ ]:
# 성공

import sys
input = sys.stdin.readline
heights = [int(input()) for _ in range(9)]
heights.sort() # 정렬

heights_sum = sum(heights)
remove_list = []

for fixed in range(9-1,-1,-1): # 8 7 ~ 0
    temp_sum= heights_sum - heights[fixed]
    for i in range(9): # 0 ~ 8
        if (temp_sum - heights[i] == 100) and (fixed != i):
            remove_list.append(heights[fixed])
            remove_list.append(heights[i])

heights.remove(remove_list[0])
heights.remove(remove_list[1])

for i in heights:
    print(i)

In [52]:
# 성공

import sys
input = sys.stdin.readline
heights = [int(input()) for _ in range(9)]
heights.sort() # 정렬

heights_sum = sum(heights)

for fixed in range(9-1,-1,-1): # 8 7 ~ 0
    if len(heights) == 7:
        break
    temp_sum= heights_sum - heights[fixed]

    for i in range(9): # 0 ~ 8
        if (temp_sum - heights[i] == 100) and (fixed != i):
            heights.remove(heights[fixed])
            heights.remove(heights[i])
            break

for i in heights:
    print(i)

7
8
10
13
19
20
23

In [51]:
import sys

with open('./bj.txt', 'w') as f:
    f.write('''20
7
23
19
10
15
25
8
13''')

sys.stdin = open('./bj.txt', 'r')

input = sys.stdin.readline

In [40]:
heights = [int(input()) for _ in range(9)]
heights

[20, 7, 23, 19, 10, 15, 25, 8, 13]

In [4]:
sum(heights)

140

In [41]:
heights.sort()
heights

[7, 8, 10, 13, 15, 19, 20, 23, 25]

In [26]:
heights

[7, 8, 10, 13, 19, 20, 23]

In [28]:
for i in range(9-1,-1,-1):
    i
print(i)

0

In [42]:
heights_sum = sum(heights)
remove_list = []

for fixed in range(9-1,-1,-1):
    temp_sum= heights_sum - heights[fixed]
    for i in range(9):
        if (temp_sum - heights[i] == 100) and (fixed != i):
            remove_list.append(heights[fixed])
            remove_list.append(heights[i])

heights.remove(remove_list[0])
heights.remove(remove_list[1])

for i in heights:
    print(i)

7
8
10
13
19
20
23

In [43]:
remove_list

[25, 15, 15, 25]

In [ ]:
아이디어
1.
[-1] 팝
[:-2] 팝 하나씩
합이 100이면 리스트 출력

한 바퀴 돌았다.
다시 heights 넣고
[-2] 팝
[:-3] 팝 하나씩

2.
total 합을 구하고
[-1] 빼기
[:-2] 빼기
합이 100이면
해당 값 remove

출력.

In [ ]:
키height를 ASC오름차순으로 출력한다.

일곱 난쟁이를 찾을 수 없는 경우는 없다 !

In [ ]:
아홉 명


일곱 난쟁이의 키의 합이 100

가능한 정답이 여러 가지인 경우에는 아무거나 출력한다

---
---
---

In [ ]:
n=9
i = 0
lis = []
while i != n :
    lis.append(int(input()))
    i+=1

In [45]:
heights = [int(input()) for _ in range(9)]

from itertools import combinations

comb_list = list(combinations(heights, 7)) # O(2^N) -> 36가지

In [46]:
comb_list

[(20, 7, 23, 19, 10, 15, 25),
 (20, 7, 23, 19, 10, 15, 8),
 (20, 7, 23, 19, 10, 15, 13),
 (20, 7, 23, 19, 10, 25, 8),
 (20, 7, 23, 19, 10, 25, 13),
 (20, 7, 23, 19, 10, 8, 13),
 (20, 7, 23, 19, 15, 25, 8),
 (20, 7, 23, 19, 15, 25, 13),
 (20, 7, 23, 19, 15, 8, 13),
 (20, 7, 23, 19, 25, 8, 13),
 (20, 7, 23, 10, 15, 25, 8),
 (20, 7, 23, 10, 15, 25, 13),
 (20, 7, 23, 10, 15, 8, 13),
 (20, 7, 23, 10, 25, 8, 13),
 (20, 7, 23, 15, 25, 8, 13),
 (20, 7, 19, 10, 15, 25, 8),
 (20, 7, 19, 10, 15, 25, 13),
 (20, 7, 19, 10, 15, 8, 13),
 (20, 7, 19, 10, 25, 8, 13),
 (20, 7, 19, 15, 25, 8, 13),
 (20, 7, 10, 15, 25, 8, 13),
 (20, 23, 19, 10, 15, 25, 8),
 (20, 23, 19, 10, 15, 25, 13),
 (20, 23, 19, 10, 15, 8, 13),
 (20, 23, 19, 10, 25, 8, 13),
 (20, 23, 19, 15, 25, 8, 13),
 (20, 23, 10, 15, 25, 8, 13),
 (20, 19, 10, 15, 25, 8, 13),
 (7, 23, 19, 10, 15, 25, 8),
 (7, 23, 19, 10, 15, 25, 13),
 (7, 23, 19, 10, 15, 8, 13),
 (7, 23, 19, 10, 25, 8, 13),
 (7, 23, 19, 15, 25, 8, 13),
 (7, 23, 10, 15, 25, 8, 13),
 (7, 19, 10, 15, 25, 8, 13),
 (23, 19, 10, 15, 25, 8, 13)]

In [47]:
for sample in comb_list: # O(7 * 36) = O(252)
    if sum(sample) == 100:
        for i in sorted(sample):
            print(i)
        break

7
8
10
13
19
20
23

In [55]:
from math import factorial as f

조합수 = f(9) / (f(7) * f(9-7))
조합수

36.0

In [56]:
len(comb_list)

36