# [숫자 문자열과 영단어](https://school.programmers.co.kr/learn/courses/30/lessons/81301)
### 2021 카카오 채용연계형 인턴십

In [ ]:
"one4seveneight"

'one4seveneight'

In [ ]:
string = "one4seveneight"

In [ ]:
numbers = {'zero':0, 'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8, 'nine':9}

In [ ]:
number = []

In [ ]:
for i in range(len(string)):
    for j in range(3,5+1):
        if string[i:i+j] in numbers:
            number.append(string[i:i+j])

In [ ]:
number

['one', 'seven', 'eight']

In [ ]:
for i in number:
    string = string.replace(i, str(numbers[i]))

In [ ]:
int(string)

1478

In [ ]:
def solution(s):
    numbers_dict = {'zero':0, 'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8, 'nine':9}
    numbers = []
    for i in range(len(s)):
        for j in range(3,5+1):
            if s[i:i+j] in numbers_dict:
                numbers.append(s[i:i+j])
    for i in numbers:
        s = s.replace(i, str(numbers_dict[i]))
    return int(s)

In [ ]:
def solution(s):
    numbers_dict = {'zero':0, 'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8, 'nine':9}
    for i in range(len(s)):
        for j in range(3,5+1):
            if s[i:i+j] in numbers_dict:
                s = s.replace(s[i:i+j], str(numbers_dict[s[i:i+j]]))
    return int(s)

---
---
---

In [ ]:
num_dic = {"zero":"0", "one":"1", "two":"2", "three":"3", "four":"4", "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}

def solution(s):
    answer = s
    for key, value in num_dic.items():
        answer = answer.replace(key, value)
    return int(answer)

In [ ]:
def solution(s):
    words = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

    for i in range(len(words)):
        s = s.replace(words[i], str(i))

    return int(s)

In [ ]:
import re
def solution(s):
    s = re.sub('zero', '0', s)
    s = re.sub('one', '1', s)
    s = re.sub('two', '2', s)
    s = re.sub('three', '3', s)
    s = re.sub('four', '4', s)
    s = re.sub('five', '5', s)
    s = re.sub('six', '6', s)
    s = re.sub('seven', '7', s)
    s = re.sub('eight', '8', s)
    s = re.sub('nine', '9', s)
    return int(s)