# [나는 요리사다 2953](https://www.acmicpc.net/problem/2953)

- 수학
- 구현
- 사칙연산

> 점수는 1점부터 5점까지

>  첫 번째 참가자부터 다섯 번째 참가자까지 순서대로 주어진다.

> return 우승자의 번호와 그가 얻은 점수

In [16]:
import sys
with open('./bj.txt', 'w') as f:
    f.write('''4 4 3 3
5 4 3 5
5 5 2 4
5 5 5 1
4 4 4 4''') # 2 17
#     f.write('''5 4 4 5
# 5 4 4 4
# 5 5 4 4
# 5 5 5 4
# 4 4 4 5''') # 4 19
sys.stdin = open('./bj.txt', 'r')

input = sys.stdin.readline

In [10]:
n = 5
score = [(sum(list(map(int, input().split()))), idx) for idx, _ in enumerate(range(n), start=1)]
score

[(18, 1), (17, 2), (18, 3), (19, 4), (17, 5)]

In [14]:
print(max(score)[1], max(score)[0])

4 19

In [17]:
import sys
input = sys.stdin.readline

n = 5
score = [(sum(list(map(int, input().split()))), idx) for idx, _ in enumerate(range(n), start=1)]
print(max(score)[1], max(score)[0])

2 17

---
---

In [ ]:
result = 0
max_value = 0

for i in range(5):
    row = list(map(int, input().split()))
    summary = sum(row)

    if max_value < summary:
        max_value = summary
        result = i +1
print(result, max_value)